$standardBlue: #0099cc;
$backgroundBlue: #e4eeff;
$highlightBlue: #33b5e5;
$fontBlue: #75d5f5;

html, body {
	font-size: 18px;
	line-height: 1.5em;
	font-family: 'Asap', sans-serif;
}

.navbar-default {
	background-color: $backgroundBlue;
	border-color: $standardBlue;

	.navbar-brand {
		color: $standardBlue;
	}

	.navbar-nav>li>a {
		color: $standardBlue;
	}


	.navbar-nav>li>a:focus,
	.navbar-nav>li>a:hover {
		color: $highlightBlue;
	}

	.navbar-nav>.active>a:focus,
	.navbar-nav>.active>a:hover,
	.navbar-nav>.active>a {
		color: white;
		background-color: $standardBlue;
	}

	.navbar-brand {
		font-size: 21px;
	}

	.logo {
		float: left;
		padding: 10px 10px 8px 5px;
	}
}

* {
	color: $standardBlue;
}

.fullscreen {
	padding: 0;
	background-image: url("assets/fullscreen.jpg");
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.fullscreen-overlay {
	width: 100%;
	height: 100%;
    background-color: rgba(80, 80, 80, 0.6);
	z-index: 1;
}

.overlay-text {
	text-align: center;
	position: relative;
	z-index: 2;

	p, h1 {
		color: white;
	}

	p {
		font-size: 26px;
		line-height: 40px;
	}

	h1 {
		font-size: 50px;
		margin-top: 0;
		margin-bottom: 20px;
	}
}

.owl-theme {
	.owl-controls {
		.owl-page {
			span {
				background: none repeat scroll 0 0 $standardBlue;
			}
		}

		.owl-buttons {
			div {
				background: $standardBlue;
				font-size: 14px;
				border-radius: 0;
			}
		}
	}
}

.doc-download {
	text-align: center;
}

.section {
	.slide {
		.row {
   			img {
   				margin-top: 25px;
   			}
		}
	}

	.fp-controlArrow.fp-prev {
    	border-color: transparent $standardBlue transparent transparent;
    }

    .fp-controlArrow.fp-next {
    	border-color: transparent transparent transparent $standardBlue;
    }
}

#doc {
	position: fixed;
	display: none;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
}

.story-images {
	height: 250px;
	width: 445px;
}

#feature-overview {
	margin-bottom: 10px;
	.item {
		img {
			display: block;
			width: 100%;
			height: auto;
			border: 1px solid $standardBlue;
		}

		.carousel-caption {
			color: #005577;
			background-color: rgba(255, 255, 255, 0.75);
			padding-bottom: 12px;
			padding-top: 12px;
			text-shadow: none;
			font-size: 22px;
		}
	}
}

.link-button {
	display: inline-block;
	text-decoration: none;
	background-color: $standardBlue;
	color: white;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 25px;
	min-width: 200px;
}

.link-button:hover {
	text-decoration: none;
	background-color: $highlightBlue;
	color: white;
}

.link-info {
	padding-top: 45px;
	display: block;
	font-size: 22px;
}
